<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splashscreen">

    <application
        android:name=".Notify"
        android:allowBackup="true"
        android:icon="@drawable/calendar_icon"
        android:label="Employee Leave Management"
        android:roundIcon="@drawable/calendar_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".empleave"></activity>
        <activity android:name=".Employee" />
        <activity android:name=".EmployeeLogin" />
        <activity android:name=".AdminEmployee" />
        <activity android:name=".add" />
        <activity android:name=".approve" />
        <activity android:name=".delete" />
        <activity android:name=".welcomeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>